{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Database": {
    "ConnectionString": "Server=xxxxxxxx; Port=3306; database=Cupcake; uid=xxxxxxx; pwd=xxxxxx"
  },
  "JWT": {
    "Key": "somerandomkey"
  }
}
dot n